<div class="side-card">
  <h2>Hobbies</h2>
  <ul class="tags">
    <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
  </ul>

  <h2>Connect</h2>
  <div class="connect-list">
    <a [href]="social.github" target="_blank">
      <img src="assets/logos/github-mark.svg" alt="GitHub" />
      GitHub
    </a>

    <a [href]="social.linkedin" target="_blank">
      <img src="assets/logos/linkedin.svg" alt="LinkedIn" />
      LinkedIn
    </a>

    <a [href]="social.instagram" target="_blank">
      <img src="assets/logos/insta.svg" alt="Instagram" />
      Instagram
    </a>

    <a [href]="social.youtube" target="_blank">
      <img src="assets/logos/youtube.svg" alt="YouTube" />
      YouTube
    </a>

    <a [href]="'mailto:' + social.email">
      <mat-icon>mail</mat-icon>
      Email
    </a>
  </div>
</div>
