<h1>{{ 'projects.title' | translate }}</h1>

<article *ngFor="let project of projects" class="card">
  <div class="card-header">
    <mat-icon *ngIf="project.icon" class="project-icon">
      {{ project.icon }}
    </mat-icon>

    <div class="title-group">
      <h2>{{ project.name }}</h2>
      <p class="description">{{ project.description | translate }}</p>
    </div>
  </div>

  <ul class="tech">
    <li *ngFor="let t of project.tech">{{ t }}</li>
  </ul>

  <div class="links">
    <a *ngIf="project.github" [href]="project.github" target="_blank">
      GitHub
    </a>
    <a *ngIf="project.link" [href]="project.link" target="_blank">
      Live Demo
    </a>
  </div>
</article>
