<div class="intro-header">
  <h1>{{ personalInfo.name }}</h1>
  <p class="subtitle">{{ 'about.subtitle' | translate }}</p>

  <div class="meta">
    <div class="meta-item">
      <span class="label">{{ 'about.ageLabel' | translate }}</span>
      <span class="value">{{ personalInfo.age }}</span>
    </div>
    <div class="meta-item">
      <span class="label">{{ 'about.focusLabel' | translate }}</span>
      <span class="value">{{ 'about.focusValue' | translate }}</span>
    </div>
  </div>
</div>
